.root {
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-background-color: lightgray;
    -fx-padding: 2px;
}

#tryToLoginButton, #tryToRegButton {
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-min-width: 95px;
    -fx-min-height: 25px;
    -fx-border-color: #7cb2d1;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

#infoFoReg, #infoFoDel {
    -fx-border-color: darkgray;
}

#deleteUser {
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-border-color: #7cb2d1;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

#infoFoDel {
    -fx-padding: 5px;
}