.root {
    -fx-padding: 2px;
    -fx-alignment: center;
    -fx-background-color: gray;
}

#loginButton, #historyButton, #settingsButton {
    -fx-min-width: 95px;
    -fx-min-height: 25px;
}

#greed {
    -fx-padding: 2px;
}

#chatArea, #messageField, #sendMessage, #clientList {
    -fx-border-color: gray;
    -fx-padding: 2px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
}

#clientList {
    -fx-pref-width: 200;

}